# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VSCode settings
.vscode/

# Data files and results
data/
results/

# Model checkpoints or saved models
*.pt
*.pth

# Environment variables file
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
